<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <style>
    b{
        color: black;
        font: 200;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    div{
        background-color: aqua;
        border-radius: 10px;
        width: 150px;
        height: 200px;
    }

    </style>
</head>
<body>
    <div>
            <p>
        <b>NAJWA CANTIK MASYAALLAH ALLAHUAKBAR TAKBIR</b> 
    </p>

    </div>

    
</body>
</html>